body{
    text-align: center;
    text-size-adjust: 100px;
    background: linear-gradient(rgb(0, 0, 161),rgb(88, 187, 220));
    shape-image-threshold: inherit;
}
h1{
    color: blue;
}
css/main.css{
    ;
}